<form-field-cmp [info]="info" [fieldModel]="fieldModel">
    <input class="form-control" onfocus="this.select();" [ngModel]="fieldModel" (ngModelChange)="updateData($event)" name="info.name" [type]="info.type" [minlength]="info.minlength" [maxlength]="info.maxlength" [autofocus]="info.autofocus">
    <select class="form-control" [ngModel]="fieldModel" (ngModelChange)="updateData($event)">
        <option *ngIf="info.hasBlankItem" value=""></option>
        <option *ngFor="let item of info.items" [value]="info.getValue(item)">{{info.getLable(item) | translate}}</option>
    </select>
</form-field-cmp>