a.list-group-item {
    cursor: pointer;
}

.smart-combobox {
    width: 95%;
    max-height: 200px;
    overflow: auto;
    border: solid 4px #eee;
}

.smart-combobox.list-group {
    position: absolute;
    z-index: 2000;
}