<wrapper [info]="pageInfo">
    <!-- page header -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ 'product.prices.upload.title' | translate}}</h1>
        </div>
    </div>

    <!-- page content -->
    <div class="row">
        <alert-cmp [info]="alertInfo"></alert-cmp>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <input type="file" ng2FileSelect [uploader]="uploader" [disabled]="uploader?.queue?.length > 0"/>
        </div>
    </div>
    <div *ngIf="uploader?.queue?.length > 0" class="row">
        <div class="col-lg-12">
            <h3>{{'common.upload.queue' | translate}}</h3>
            <p>{{'common.upload.queue.length' | translate}}: {{ uploader?.queue?.length }}</p>

            <table class="table">
                <thead>
                    <tr>
                        <th width="50%">{{'common.upload.file.name' | translate}}</th>
                        <th>{{'common.upload.file.size' | translate}}</th>
                        <th>{{'common.upload.file.progress' | translate}}</th>
                        <th>{{'common.upload.file.status' | translate}}</th>
                        <th>{{'common.list.action' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of uploader.queue">
                        <td><strong>{{ item?.file?.name }}</strong></td>
                        <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                        <td *ngIf="uploader.isHTML5">
                            <div class="progress" style="margin-bottom: 0;">
                                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                            </div>
                        </td>
                        <td class="text-center">
                            <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                            <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                            <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                        </td>
                        <td nowrap>
                            <button type="button" class="btn btn-success btn-xs" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                            <span class="glyphicon glyphicon-upload"></span> {{'common.upload.action.upload' | translate}}
                        </button>
                            <button type="button" class="btn btn-warning btn-xs" (click)="item.cancel()" [disabled]="!item.isUploading">
                            <span class="glyphicon glyphicon-ban-circle"></span> {{'common.upload.action.cancel' | translate}}
                        </button>
                            <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
                            <span class="glyphicon glyphicon-trash"></span> {{'common.upload.action.remove' | translate}}
                        </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div>
                <div>
                    {{'common.upload.file.progress' | translate}}:
                    <div class="progress" style="">
                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <button class="btn btn-default btn-back" *ngIf="canNavigateBack()" (click)="onBack()"><i class="glyphicon glyphicon-arrow-left"></i></button>
    </div>
</wrapper>