<wrapper [info]="pageInfo">
    <!-- page header -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ 'shop.sell.title' | translate}}</h1>
        </div>
    </div>

    <div class="row">
        <alert-cmp [info]="alertInfo"></alert-cmp>
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <button type="button" class="btn btn-primary" (click)="onExecute({action:'saveAll'})">{{'shop.order.checkout'|translate}}</button>
                    <button type="button" class="btn btn-default" (click)="cancel()">{{'shop.order.cancel'|translate}}</button>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-md-4">
                                <cmb-field-cmp [info]="formInfo.getField('warehouseId')" [(fieldModel)]="model['warehouseId']" [(displayFieldModel)]="model['warehouseName']"></cmb-field-cmp>
                            </div>
                            <div class="col-md-4">
                                <smartcmb-field-cmp [info]="formInfo.getField('employeeId')" [(fieldModel)]="model['employeeId']" [(displayFieldModel)]="model['employeeName']"></smartcmb-field-cmp>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="curentDate">{{'warehouse.import.curentDate'|translate}}</label>
                                    <input type="text" class="form-control" id="curentDate" [ngModel]="currentDate | date:'dd/MM/yyyy hh:mm:ss'" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <textarea-field-cmp [info]="formInfo.getField('description')" [(fieldModel)]="model['description']"></textarea-field-cmp>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-9">
                                <div class="row">
                                    <gridinput-cmp [info]="gridInfo" (onExecute)="onExecute($event)"></gridinput-cmp>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="totalPrice">{{'shop.order.total.price'|translate}}</label>
                                            <input type="text" class="form-control" id="totalPrice" [ngModel]="model['totalPrice'] | cusNumber:{separated: true}" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <number-field-cmp [info]="formInfo.getField('totalDiscount')" [(fieldModel)]="model['totalDiscount']"></number-field-cmp>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="total">{{'shop.order.total'|translate}}</label>
                                            <input type="text" class="form-control" id="total" [ngModel]="model['total'] | cusNumber:{separated: true}" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Change pass dialog -->
    <dialog-cmp [info]="paymentDialog">
        <dialog-header-cmp [info]="paymentDialog" (onClose)="closeDialog(paymentDialog)">{{'shop.order.payment' | translate}}</dialog-header-cmp>
        <dialog-body-cmp *ngIf="paymentModel">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="total">{{'shop.order.total'|translate}}</label>
                        <input type="text" class="form-control" id="total" [ngModel]="paymentModel['total'] | cusNumber:{separated: true}" disabled>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <number-field-cmp [info]="paymentForm.getField('received')" [(fieldModel)]="paymentModel['received']"></number-field-cmp>
                    <!--<div class="form-group">
                        <label for="received">{{'shop.payment.received'|translate}}</label>
                        <input type="number" class="form-control" id="received" [(ngModel)]="paymentModel['received']" min="0">
                    </div>-->
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="rest">{{'shop.payment.rest'|translate}}</label>
                        <input type="text" class="form-control" id="rest" [ngModel]="paymentModel['total']-paymentModel['received'] | cusNumber:{separated: true}" disabled>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="description">{{'shop.payment.description'|translate}}</label>
                        <textarea rows="3" class="form-control" id="description" [(ngModel)]="paymentModel['description']"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label><input type="checkbox" name="print" [(ngModel)]="paymentModel['print']">{{'shop.payment.print'|translate}}</label>
                </div>
            </div>
        </dialog-body-cmp>
        <dialog-footer-cmp>
            <button (click)="onPayment('OK')" type="button" class="btn btn-primary form-action"><i class="fa fa-floppy-o"></i></button>
            <button (click)="onPayment('CANCEL')" type="button" class="btn btn-default form-action"><i class="fa fa-times"></i></button>
        </dialog-footer-cmp>
    </dialog-cmp>

    <div class="row">
        <a class="btn btn-default btn-back" *ngIf="canNavigateBack()" (click)="onBack()"><i class="glyphicon glyphicon-arrow-left"></i></a>
    </div>
</wrapper>