<div class="col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading">{{info.title |translate}}</div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="col-xs-12">
                <ng-content select="form-content-cmp"></ng-content>
                <div *ngIf="info.hasError()" class="alert alert-danger">
                    <div *ngFor="let e of info.errors">{{ e | translate}}</div>
                    <div *ngIf="info.errors.length==0">{{ 'common.validator.error' | translate}}</div>
                </div>
                <ng-content select="form-action-cmp"></ng-content>
            </div>
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>